.another-one-button {
  width: 500px;
  height: 50px;
  border: none;
  color: #BBE0FF;
  cursor: pointer;
  background-color: #2E70C3;
  font-weight: bolder;
  font-size: 36px;
  margin-bottom: -10px;
}