.footer {
  border: 1px solid black;
  //margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  //left: 50%;
  //margin-left: ;
}

.another-one-button {
  width: 100%;
  height: 50px;
  border: none;
  color: #BBE0FF;
  cursor: pointer;
  background-color: #2E70C3;
  font-weight: bolder;
  font-size: 36px;
  margin: auto;
}

